body {
  font-family: Arial, sans-serif;
  background: #0a0a0a;
  color: #0a0a0a;
  padding: 20px;
}

h1 {
  text-align: center;
}

#malla-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Años y cuatrimestres */
.año {
  border: 1px solid #1e1e1e;
  padding: 10px;
  border-radius: 10px;
}

.cuatrimestre {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

/* Categorías */
.materia {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
}

/* Colores por categoría */
.biologicas    { background-color: #91eba3; }
.exactas       { background-color: #eb9197; }
.clinicas      { background-color: #91ebeb; }
.basicas       { background-color: #ebd791; }
.tecnologicas  { background-color: #b191eb; }

/* Estados */
.materia.regularizada::after {
  content: '';
  position: absolute;
  width: 70%;
  height: 3px;
  background-color: #fff;
  top: 50%;
  left: 0;
}

.materia.aprobada {
  text-decoration: line-through;
  opacity: 0.6;
}
